.image {
  display: flex;
  width: 100%;
  height: 196px;
  background-image: url(../../assets/images/image__result.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

.result {
  margin: 16px 0 0;
  text-align: center;
}

.result_incorrect {
  color: var(--color-green);
  font-weight: var(--font-w-bold);
}

.result_error {
  color: var(--color-red);
  font-weight: var(--font-w-bold);
}
