.imageQuestion {
  position: absolute;
  top: -79px;
  right: 0;
}

.header {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.title {
  font-weight: var(--font-w-bold);
  font-size: var(--font-size-lg);
  line-height: var(--line-height-lg);
  text-align: center;
}

.subtitle {
  text-align: center;
}
