.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 8px;
  width: 100%;
  padding: 0 0 20px;
}

.buttonContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: inline-block;
  min-width: 270px;
  border-radius: var(--radii);
  padding: 24px;
  color: var(--color-white);
  font-weight: var(--font-w-bold);
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  text-align: center;
  background-color: var(--btn-color-active);
  cursor: pointer;
}

.button_disabled {
  background-color: var(--btn-color-disable);
  cursor: default;
}

.subtitle {
  position: absolute;
  bottom: -19px;
  font-weight: var(--font-w-regular);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
}

.subtitle_disabled {
  color: var(--text-btn-disable);
}

.span {
  font-weight: var(--font-w-bold);
}

.answerCount {
  font-weight: var(--font-w-bold);
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  text-align: right;
}

